[Desktop Entry]
Encoding=UTF-8
Name=Link to background-section.pdf
Type=Link
URL=https://github.com/ivan-cukic/latex-beamer-theme-elegance/blob/master/style/images-circles/background-section.pdf
Icon=text-html
